    html {
        width: 100%;
        height: 100%;
        background-color: #16202a !important;
    }
    /* DARK MODE */
    
    .darkmode-bg {
        background-color: #16202a !important;
    }
    
    .darkmode-bg-nav {
        background-color: #16202a !important;
        border-bottom: 1px solid #313b45;
    }
    
    .darkmode-bg-bnav {
        background-color: #16202a !important;
        border-top: 1px solid #313b45;
    }
    
    .darkmode-card {
        background-color: #223141 !important;
    }
    /* CUSTOM COLOURS */
    
    .darkmode-accent-txt {
        color: #1bf428 !important;
    }
    
    .darkmode-accent2-txt {
        color: #93a58f !important;
    }
    /* CUSTOM CARDS */
    
    .card-dashboard {
        max-width: 100%;
        height: 100%;
    }
    
    .card-dash-item {
        max-width: 95% !important;
        margin: auto;
        -ms-flex-direction: column;
        border-radius: 2px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .14), 0 3px 4px 0 rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        min-width: 0;
        position: relative;
        word-wrap: break-word
    }
    
    .card-dash-item-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem
    }
    
    .card-dash-item-body:first-child {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px
    }
    
    .card-dash-item-body:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px
    }
    /* CUSTOM POISITION */
    
    .bottom-nav {
        position: fixed !important;
        bottom: 0 !important;
        -ms-flex-pack: center!important;
        justify-content: center!important
    }
    
    .bottom-nav-item {
        line-height: 3em;
    }
    /* CUSTOM Width */
    
    .width-100 {
        width: 100%;
    }
    
    .height-4em {
        height: 4em;
    }
    /* CUSTOM FONTS */
    
    @font-face {
        font-family: 'Warpaint';
        src: url('../fonts/VTKS.ttf') format('truetype'), url('../fonts/VTKS.woff') format('truetype'), url('../fonts/VTKS.ttf') format('truetype');
    }
    
    .font-warpaint {
        font-family: Warpaint;
    }