    html {
        width: 100%;
        height: 100%;
        background-color: #17162a !important;
        scroll-behavior: smooth;
    }
    /* DARK MODE */
    
    .darkmode-bg {
        background-color: #17162a !important;
    }
    
    .darkmode-bg-nav {
        background-color: #17162a !important;
        border-bottom: 1px solid #313b45;
    }
    
    .darkmode-bg-bnav {
        background-color: #17162a !important;
        border-top: 1px solid #313b45;
    }
    
    .darkmode-card {
        background-color: #2c2a50 !important;
    }
    /* CUSTOM COLOURS */
    
    .darkmode-accent-txt {
        color: #1be6f4 !important;
    }
    
    .darkmode-accent2-txt {
        color: #08565c !important;
    }
    /* CUSTOM CARDS */
    
    .card-dashboard {
        max-width: 100%;
        height: 100%;
    }
    
    .explore-img-climateChange {
        background-image: url("../explore/assets/ClimateChange.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .explore-img-coldWar2 {
        background-image: url("../explore/assets/ColdWar2.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .explore-img-civilUnrest {
        background-image: url("../explore/assets/civilUnrest.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .explore-img-surveillanceState {
        background-image: url("../explore/assets/surveillanceState.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .explore-img-EconomicInequality {
        background-image: url("../explore/assets/EconomicInequality.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .explore-img-Prepping {
        background-image: url("../explore/assets/Prepping.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .explore-img-Theories {
        background-image: url("../explore/assets/industry.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    /*   MAIN & NAV */
    
    .navbar {
        width: 100%;
        position: fixed !important;
        z-index: 999 !important;
    }
    
    main {
        padding-top: 4em;
    }
    
    .explore-card {
        max-width: 95% !important;
        height: 50vh;
        margin: auto;
        -ms-flex-direction: column;
        border-radius: 2px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .14), 0 3px 4px 0 rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        min-width: 0;
        position: relative;
        word-wrap: break-word
    }
    
    .card-dash-item {
        max-width: 95% !important;
        margin: auto;
        -ms-flex-direction: column;
        border-radius: 2px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .14), 0 3px 4px 0 rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        min-width: 0;
        position: relative;
        word-wrap: break-word
    }
    
    .card-dash-item-index {
        max-width: 95% !important;
        height: 110rem;
        margin: auto;
        -ms-flex-direction: column;
        border-radius: 2px;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        min-width: 0;
        position: relative;
        word-wrap: break-word;
        font-family: 'Transport';
        font-size: 1rem !important;
        font-weight: 300 !important;
    }
    
    .card-dash-item-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem
    }
    
    .card-dash-item-body:first-child {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px
    }
    
    .card-dash-item-body:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px
    }
    /* CUSTOM POISITION */
    
    .bottom-nav {
        position: fixed !important;
        bottom: 0 !important;
        -ms-flex-pack: center!important;
        justify-content: center!important
    }
    
    .navbar-button {
        position: relative;
        z-index: 900;
    }
    
    .bottom-nav-item {
        line-height: 3em;
    }
    /* CUSTOM Width */
    
    .width-100 {
        width: 100%;
    }
    
    .height-4em {
        height: 4em;
    }
    /* CUSTOM FONTS */
    
    @font-face {
        font-family: 'VTKS';
        src: url('../fonts/VTKS.ttf') format('truetype'), url('../fonts/VTKS.woff') format('truetype'), url('../fonts/VTKS.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'VMS';
        src: url('../fonts/VMS.ttf') format('truetype'), url('../fonts/VMS.woff') format('truetype'), url('../fonts/VMS.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'Transport';
        src: url('../fonts/Transport.ttf') format('truetype'), url('../fonts/Transport.woff') format('truetype'), url('../fonts/Transport.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'Transport';
        src: url('../fonts/Transport-Light.ttf') format('truetype'), url('../fonts/Transport-Light.woff') format('truetype'), url('../fonts/Transport-Light.ttf') format('truetype');
    }
    
    .wiki-margin {
        margin-bottom: 100vw;
    }
    /* TITLE FONT */
    
    .font-VTKS {
        font-family: VTKS;
        font-smooth: auto;
    }
    
    .font-Transport {
        font-family: 'Transport' !important;
        font-smooth: auto;
    }
    /* HEADER FONT */
    
    h1,
    h4,
    h6 {
        font-family: Transport !important;
        color: #1be6f4 !important;
        font-smooth: auto;
    }
    
    h2 {
        font-family: Transport !important;
        color: #fff !important;
        font-smooth: auto;
    }
    
    h3 {
        font-family: VMS !important;
        color: #f4af1b !important;
        font-smooth: auto;
        font-size: 1rem !important;
    }
    
    h5 {
        font-family: Transport !important;
        font-smooth: auto;
        color: #1be6f4 !important;
        font-size: 1rem !important;
    }
    
    p {
        font-family: 'Roboto' !important;
        font-smooth: auto;
    }
    
    .text-cyan {
        color: #1be6f4 !important;
    }
    
    a {
        color: #1be6f4 !important;
    }
    
    .nav-item {
        font-family: 'Transport' !important;
        font-smooth: auto;
    }
    /* TICKER FONT */
    
    .font-ticker {
        font-family: VMS !important;
        font-smooth: auto;
    }
    /* CUSTOM TEXTS */
    
    .text-respon {
        font-size: 1rem;
    }
    /* Ticker Styling */
    
    #ticker-wrapper.has-js {
        padding: 0px 20px;
        max-width: 100%;
        overflow: hidden;
        height: 3em;
        display: block;
        background-color: #0e0e0e;
        font-size: 0.75em;
    }
    
    #ticker {
        width: 710px;
        height: 23px;
        display: block;
        position: relative;
        overflow: hidden;
        background-color: #0e0e0e;
    }
    
    #ticker-title {
        padding-top: 9px;
        color: #e53935;
        font-weight: bold;
        background-color: #0e0e0e;
        text-transform: uppercase;
    }
    
    #ticker-content {
        margin: 0px;
        padding-top: 11px;
        position: absolute;
        color: #eba640 !important;
        font-weight: bold;
        background-color: #0e0e0e;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.2em;
        text-transform: uppercase;
    }
    
    #ticker-content a {
        text-decoration: none;
        color: #ffb300 !important;
    }
    
    #ticker-content a:hover {
        text-decoration: underline;
        color: #fff;
    }
    
    #ticker-swipe {
        padding-top: 9px;
        position: absolute;
        top: 0px;
        background-color: #0e0e0e;
        display: block;
        width: 800px;
        height: 23px;
    }
    
    #ticker-swipe span {
        margin-left: 1px;
        background-color: #0e0e0e;
        border-bottom: 1px solid #1f527b00;
        height: 12px;
        width: 7px;
        display: block;
    }
    
    #ticker-controls {
        padding: 0px 0px 0px 0px;
        list-style-type: none;
        float: right !important;
    }
    
    #ticker-controls li {
        padding: 0px;
        margin-left: 5px;
        float: left;
        cursor: pointer;
        height: 16px;
        width: 16px;
        display: block;
    }
    
    #ticker-controls li#play-pause {
        background-image: url('../images/controls.png');
        background-position: 32px 16px;
    }
    
    #ticker-controls li#play-pause.over {
        background-position: 32px 32px;
    }
    
    #ticker-controls li#play-pause.down {
        background-position: 32px 0px;
    }
    
    #ticker-controls li#play-pause.paused {
        background-image: url('../images/controls.png');
        background-position: 48px 16px;
    }
    
    #ticker-controls li#play-pause.paused.over {
        background-position: 48px 32px;
    }
    
    #ticker-controls li#play-pause.paused.down {
        background-position: 48px 0px;
    }
    
    #ticker-controls li#prev {
        background-image: url('../images/controls.png');
        background-position: 0px 16px;
    }
    
    #ticker-controls li#prev.over {
        background-position: 0px 32px;
    }
    
    #ticker-controls li#prev.down {
        background-position: 0px 0px;
    }
    
    #ticker-controls li#next {
        background-image: url('../images/controls.png');
        background-position: 16px 16px;
    }
    
    #ticker-controls li#next.over {
        background-position: 16px 32px;
    }
    
    #ticker-controls li#next.down {
        background-position: 16px 0px;
    }
    
    .js-hidden {
        display: none;
    }
    
    #no-js-news {
        padding: 10px 0px 0px 45px;
        color: #F8F0DB;
    }
    
    .left #ticker-swipe {
        left: 80px;
    }
    
    .left #ticker-controls,
    .left #ticker-content,
    .left #ticker-title,
    .left #ticker {
        float: left;
    }
    
    .left #ticker-controls {
        padding-left: 6px;
    }
    
    .right #ticker-swipe {
        right: 80px;
    }
    
    .right #ticker-controls,
    .right #ticker-content,
    .right #ticker-title,
    .right #ticker {
        float: right;
    }
    
    .right #ticker-controls {
        padding-right: 6px;
    }